In [1]:
import pandas as pd
import datetime as dt
import time
import numpy as np

In [2]:
# scooter = pd.read_csv('data\escooter.csv')

scooter = pd.read_json('data\escooter.json')
scooter

,Trip ID,Start Time,Distance,Duration,Start Tract,End Tract,Start Community #,End Community #,Start Community Area Name,End Community Area Name
0,758e9d21-609f-5479-8e2c-5e8f64258202,07/01/2019 05:00 PM,421,3,NaN,NaN,NaN,NaN,None,None
1,ff33490c-254a-5af2-9315-d6b2a45b07f7,06/29/2019 06:00 PM,6318,31,NaN,NaN,NaN,NaN,None,None
2,f8a25729-e853-40f3-9200-7eea9f9c45f2,09/16/2019 01:00 PM,77,732,NaN,NaN,NaN,25.0,None,AUSTIN
3,11d42b99-e839-346c-11d4-2b99e839346c,06/24/2019 07:00 PM,917,359,NaN,NaN,25.0,25.0,AUSTIN,AUSTIN
4,0c226130-0fa6-518f-8fe6-219b9fa5f42f,07/12/2019 07:00 PM,0,218,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE
...,...,...,...,...,...,...,...,...,...,...
710834,db29a731-9ab0-5428-8368-bea758cac4fe,07/24/2019 04:00 PM,225,147,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
710835,f644d8ce-a32d-5c1c-ad92-ca01ef86b9f9,08/30/2019 04:00 PM,595,301,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
710836,fe97d758-f9eb-4314-85c0-058d56019e39,07/06/2019 03:00 PM,1239,321,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
710837,e6687f9e-531f-cff9-1a1f-ae71c7f759b6,06/29/2019 11:00 PM,1606,555,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
710838,f554df2f-4e4f-5b15-ab56-30199016dcda,09/05/2019 08:00 PM,1656,20,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN

In [3]:
# # Convert and save dataframe as json file
# scooter.to_json(r'data/escooter.json',orient='records')

In [4]:
# # Replace column name spacing with _
scooter.columns = scooter.columns.str.replace(' ', '_')
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name
0,758e9d21-609f-5479-8e2c-5e8f64258202,07/01/2019 05:00 PM,421,3,NaN,NaN,NaN,NaN,None,None
1,ff33490c-254a-5af2-9315-d6b2a45b07f7,06/29/2019 06:00 PM,6318,31,NaN,NaN,NaN,NaN,None,None
2,f8a25729-e853-40f3-9200-7eea9f9c45f2,09/16/2019 01:00 PM,77,732,NaN,NaN,NaN,25.0,None,AUSTIN
3,11d42b99-e839-346c-11d4-2b99e839346c,06/24/2019 07:00 PM,917,359,NaN,NaN,25.0,25.0,AUSTIN,AUSTIN
4,0c226130-0fa6-518f-8fe6-219b9fa5f42f,07/12/2019 07:00 PM,0,218,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE
...,...,...,...,...,...,...,...,...,...,...
710834,db29a731-9ab0-5428-8368-bea758cac4fe,07/24/2019 04:00 PM,225,147,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
710835,f644d8ce-a32d-5c1c-ad92-ca01ef86b9f9,08/30/2019 04:00 PM,595,301,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
710836,fe97d758-f9eb-4314-85c0-058d56019e39,07/06/2019 03:00 PM,1239,321,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
710837,e6687f9e-531f-cff9-1a1f-ae71c7f759b6,06/29/2019 11:00 PM,1606,555,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
710838,f554df2f-4e4f-5b15-ab56-30199016dcda,09/05/2019 08:00 PM,1656,20,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN

In [5]:
# Sort Distance in descending order 

scooter = scooter.sort_values(by='Distance', ascending=False)
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name
53729,8c5548d1-f06a-4f21-b924-fef81ea5e6d8,09/11/2019 04:00 PM,215653491,334,NaN,NaN,NaN,NaN,None,None
73186,e916fe50-bf3d-4da1-b520-3fe77c2a2c66,09/11/2019 04:00 PM,129393334,372,NaN,NaN,NaN,NaN,None,None
649769,913b09a9-a89a-44cc-b2c9-8e2f58c98ea7,09/11/2019 04:00 PM,107883974,141,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
112522,dca36ae0-8bc4-478a-9735-aed8d45ef96a,09/11/2019 04:00 PM,97040904,222,1.703184e+10,NaN,28.0,NaN,NEAR WEST SIDE,None
14333,2fd95d16-49e6-4609-94eb-4c3caac01712,09/11/2019 04:00 PM,86300601,285,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...
387198,410d2213-62e4-5752-85be-be25007c9e4d,09/01/2019 06:00 PM,0,106,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE
58626,bfec5310-e836-4497-855a-ca6c552061a8,08/12/2019 01:00 PM,0,53,NaN,NaN,NaN,NaN,None,None
661526,7c74f1bb-78e3-44b6-bee9-8d2d0f77681c,06/26/2019 03:00 PM,0,105,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
58623,ad2acda9-a954-4532-87a0-31c620cf8468,09/24/2019 08:00 AM,0,113,NaN,NaN,NaN,NaN,None,None
59498,8e6a500c-0a80-417b-a29b-e955aa2ff742,06/25/2019 12:00 PM,0,46,NaN,NaN,NaN,NaN,None,None

In [6]:
# Calculate Distance by miles and update column values
scooter['Distance']= (scooter.Distance/1609).round(decimals=2)
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name
53729,8c5548d1-f06a-4f21-b924-fef81ea5e6d8,09/11/2019 04:00 PM,134029.52,334,NaN,NaN,NaN,NaN,None,None
73186,e916fe50-bf3d-4da1-b520-3fe77c2a2c66,09/11/2019 04:00 PM,80418.48,372,NaN,NaN,NaN,NaN,None,None
649769,913b09a9-a89a-44cc-b2c9-8e2f58c98ea7,09/11/2019 04:00 PM,67050.33,141,NaN,NaN,24.0,24.0,WEST TOWN,WEST TOWN
112522,dca36ae0-8bc4-478a-9735-aed8d45ef96a,09/11/2019 04:00 PM,60311.31,222,1.703184e+10,NaN,28.0,NaN,NEAR WEST SIDE,None
14333,2fd95d16-49e6-4609-94eb-4c3caac01712,09/11/2019 04:00 PM,53636.17,285,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...
387198,410d2213-62e4-5752-85be-be25007c9e4d,09/01/2019 06:00 PM,0.00,106,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE
58626,bfec5310-e836-4497-855a-ca6c552061a8,08/12/2019 01:00 PM,0.00,53,NaN,NaN,NaN,NaN,None,None
661526,7c74f1bb-78e3-44b6-bee9-8d2d0f77681c,06/26/2019 03:00 PM,0.00,105,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
58623,ad2acda9-a954-4532-87a0-31c620cf8468,09/24/2019 08:00 AM,0.00,113,NaN,NaN,NaN,NaN,None,None
59498,8e6a500c-0a80-417b-a29b-e955aa2ff742,06/25/2019 12:00 PM,0.00,46,NaN,NaN,NaN,NaN,None,None

In [7]:
# Filter for distances less than 30 miles
scooter = scooter[(scooter['Distance'] <30)]
scooter


# Filter for distances greater than 0 miles
scooter = scooter[(scooter['Distance'] >0)]
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name
517154,30564564-8c46-4f3f-bf00-2b184d841871,07/24/2019 09:00 AM,29.91,1500,1.703121e+10,1.703124e+10,21.0,24.0,AVONDALE,WEST TOWN
104600,84533b6b-7b87-475d-b5ac-163599d40fb1,07/22/2019 01:00 PM,29.88,636,NaN,NaN,19.0,25.0,BELMONT CRAGIN,AUSTIN
24444,1a814c57-8eac-4b11-bc2e-de18b84a8260,07/05/2019 02:00 PM,29.83,916,NaN,NaN,NaN,NaN,None,None
53762,9a68bfda-139a-4cc2-92ee-965b94bd0636,06/20/2019 03:00 PM,29.83,32,NaN,NaN,NaN,NaN,None,None
66424,86e069d7-4fd6-4681-8c1b-012c85bcdc1e,07/05/2019 04:00 PM,29.83,5792,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...
303336,0b15167c-61e3-4d05-93bb-e501e1595f4a,06/23/2019 05:00 PM,0.01,1700,NaN,NaN,18.0,18.0,MONTCLARE,MONTCLARE
693481,cab058dc-ad01-b99a-a65b-d910f9fa70e4,06/22/2019 09:00 PM,0.01,47,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
119321,8ac313b4-a4bc-4d16-b396-f394539f392d,07/21/2019 07:00 PM,0.01,1032,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE
647216,8eb43063-d235-4a90-a121-ad13330ed57d,07/14/2019 11:00 AM,0.01,19,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN
460383,d09af7c4-5062-4a70-bd4d-96d37a3e5a7e,07/15/2019 12:00 PM,0.01,1410,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE

In [8]:
scooter.dtypes

Trip_ID                       object
Start_Time                    object
Distance                     float64
Duration                       int64
Start_Tract                  float64
End_Tract                    float64
Start_Community_#            float64
End_Community_#              float64
Start_Community_Area_Name     object
End_Community_Area_Name       object
dtype: object

In [9]:
# Add "Date" column by pulling first 10 characters from Start_Time columns
scooter['Date']= scooter['Start_Time'].str[:10]
scooter

# Add "Time" Column as string by pulling last 11 characters from Start_Time column
scooter['Time']= scooter['Start_Time'].str[-8:]

# pull year, month and day characters to format Date as yyyy:mm:dd
x = scooter['Date'].str[:5]
y = scooter['Date'].str[-4:]
m = x.str[:2]
d = x.str[-2:]

# Combine variables to reformat "Date" Coulmn
scooter["Date"] = y + '-' + m + '-' + d
scooter

# # pull year, month and day characters to format yyyy:mm:dd
# scooter['x']= scooter['Date'].str[:5]
# scooter['y'] = scooter['Date'].str[-4:]
# scooter["m"]= scooter.x.str[:2]
# scooter['d'] = scooter.x.str[-2:]

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name,Date,Time
517154,30564564-8c46-4f3f-bf00-2b184d841871,07/24/2019 09:00 AM,29.91,1500,1.703121e+10,1.703124e+10,21.0,24.0,AVONDALE,WEST TOWN,2019-07-24,09:00 AM
104600,84533b6b-7b87-475d-b5ac-163599d40fb1,07/22/2019 01:00 PM,29.88,636,NaN,NaN,19.0,25.0,BELMONT CRAGIN,AUSTIN,2019-07-22,01:00 PM
24444,1a814c57-8eac-4b11-bc2e-de18b84a8260,07/05/2019 02:00 PM,29.83,916,NaN,NaN,NaN,NaN,None,None,2019-07-05,02:00 PM
53762,9a68bfda-139a-4cc2-92ee-965b94bd0636,06/20/2019 03:00 PM,29.83,32,NaN,NaN,NaN,NaN,None,None,2019-06-20,03:00 PM
66424,86e069d7-4fd6-4681-8c1b-012c85bcdc1e,07/05/2019 04:00 PM,29.83,5792,NaN,NaN,NaN,NaN,None,None,2019-07-05,04:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...
303336,0b15167c-61e3-4d05-93bb-e501e1595f4a,06/23/2019 05:00 PM,0.01,1700,NaN,NaN,18.0,18.0,MONTCLARE,MONTCLARE,2019-06-23,05:00 PM
693481,cab058dc-ad01-b99a-a65b-d910f9fa70e4,06/22/2019 09:00 PM,0.01,47,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-06-22,09:00 PM
119321,8ac313b4-a4bc-4d16-b396-f394539f392d,07/21/2019 07:00 PM,0.01,1032,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE,2019-07-21,07:00 PM
647216,8eb43063-d235-4a90-a121-ad13330ed57d,07/14/2019 11:00 AM,0.01,19,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-07-14,11:00 AM
460383,d09af7c4-5062-4a70-bd4d-96d37a3e5a7e,07/15/2019 12:00 PM,0.01,1410,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,2019-07-15,12:00 PM

In [10]:
# # Extract date from start time and format as string for .json file
# # scooter['Date']=scooter.Start_Time.dt.strftime('%Y-%m-%d')

In [11]:
# scooter.dtypes

In [12]:
# Convert Start_Time to datetime format
scooter['Start_Time']=pd.to_datetime(scooter.Start_Time)
# scooter

# Identify Weekday Name and add column
scooter['Weekday']=scooter.Start_Time.dt.weekday_name
scooter

# # Extract date from start time and format as string for .json file
# scooter['Date']=scooter.Start_Time.dt.strftime('%Y-%m-%d')

# scooter.dtypes

# # Add Start_Date Column in datetime format
# scooter['Start_Date'] =scooter.Start_Time.dt.date
# # scooter

# # Add Time column in datetime format
# scooter['Time']=scooter.Start_Time.dt.time
# # scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name,Date,Time,Weekday
517154,30564564-8c46-4f3f-bf00-2b184d841871,2019-07-24 09:00:00,29.91,1500,1.703121e+10,1.703124e+10,21.0,24.0,AVONDALE,WEST TOWN,2019-07-24,09:00 AM,Wednesday
104600,84533b6b-7b87-475d-b5ac-163599d40fb1,2019-07-22 13:00:00,29.88,636,NaN,NaN,19.0,25.0,BELMONT CRAGIN,AUSTIN,2019-07-22,01:00 PM,Monday
24444,1a814c57-8eac-4b11-bc2e-de18b84a8260,2019-07-05 14:00:00,29.83,916,NaN,NaN,NaN,NaN,None,None,2019-07-05,02:00 PM,Friday
53762,9a68bfda-139a-4cc2-92ee-965b94bd0636,2019-06-20 15:00:00,29.83,32,NaN,NaN,NaN,NaN,None,None,2019-06-20,03:00 PM,Thursday
66424,86e069d7-4fd6-4681-8c1b-012c85bcdc1e,2019-07-05 16:00:00,29.83,5792,NaN,NaN,NaN,NaN,None,None,2019-07-05,04:00 PM,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303336,0b15167c-61e3-4d05-93bb-e501e1595f4a,2019-06-23 17:00:00,0.01,1700,NaN,NaN,18.0,18.0,MONTCLARE,MONTCLARE,2019-06-23,05:00 PM,Sunday
693481,cab058dc-ad01-b99a-a65b-d910f9fa70e4,2019-06-22 21:00:00,0.01,47,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-06-22,09:00 PM,Saturday
119321,8ac313b4-a4bc-4d16-b396-f394539f392d,2019-07-21 19:00:00,0.01,1032,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE,2019-07-21,07:00 PM,Sunday
647216,8eb43063-d235-4a90-a121-ad13330ed57d,2019-07-14 11:00:00,0.01,19,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-07-14,11:00 AM,Sunday
460383,d09af7c4-5062-4a70-bd4d-96d37a3e5a7e,2019-07-15 12:00:00,0.01,1410,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,2019-07-15,12:00 PM,Monday

In [13]:
# Add column of Weekdays vs Weekend

weekdays = ["Monday","Tuesday","Wednesday", "Thursday", "Friday"]
weekday_ls = []
for day in scooter["Weekday"]:
    if day in weekdays:
        weekday_ls.append("Weekday")
    else:
        weekday_ls.append("Weekend")        
scooter["Day_End"] = weekday_ls
# scooter

scooter['Trip_Count']= 1
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Area_Name,End_Community_Area_Name,Date,Time,Weekday,Day_End,Trip_Count
517154,30564564-8c46-4f3f-bf00-2b184d841871,2019-07-24 09:00:00,29.91,1500,1.703121e+10,1.703124e+10,21.0,24.0,AVONDALE,WEST TOWN,2019-07-24,09:00 AM,Wednesday,Weekday,1
104600,84533b6b-7b87-475d-b5ac-163599d40fb1,2019-07-22 13:00:00,29.88,636,NaN,NaN,19.0,25.0,BELMONT CRAGIN,AUSTIN,2019-07-22,01:00 PM,Monday,Weekday,1
24444,1a814c57-8eac-4b11-bc2e-de18b84a8260,2019-07-05 14:00:00,29.83,916,NaN,NaN,NaN,NaN,None,None,2019-07-05,02:00 PM,Friday,Weekday,1
53762,9a68bfda-139a-4cc2-92ee-965b94bd0636,2019-06-20 15:00:00,29.83,32,NaN,NaN,NaN,NaN,None,None,2019-06-20,03:00 PM,Thursday,Weekday,1
66424,86e069d7-4fd6-4681-8c1b-012c85bcdc1e,2019-07-05 16:00:00,29.83,5792,NaN,NaN,NaN,NaN,None,None,2019-07-05,04:00 PM,Friday,Weekday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303336,0b15167c-61e3-4d05-93bb-e501e1595f4a,2019-06-23 17:00:00,0.01,1700,NaN,NaN,18.0,18.0,MONTCLARE,MONTCLARE,2019-06-23,05:00 PM,Sunday,Weekend,1
693481,cab058dc-ad01-b99a-a65b-d910f9fa70e4,2019-06-22 21:00:00,0.01,47,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-06-22,09:00 PM,Saturday,Weekend,1
119321,8ac313b4-a4bc-4d16-b396-f394539f392d,2019-07-21 19:00:00,0.01,1032,NaN,NaN,21.0,21.0,AVONDALE,AVONDALE,2019-07-21,07:00 PM,Sunday,Weekend,1
647216,8eb43063-d235-4a90-a121-ad13330ed57d,2019-07-14 11:00:00,0.01,19,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,2019-07-14,11:00 AM,Sunday,Weekend,1
460383,d09af7c4-5062-4a70-bd4d-96d37a3e5a7e,2019-07-15 12:00:00,0.01,1410,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,2019-07-15,12:00 PM,Monday,Weekday,1

In [14]:
# Remove data After 9/30
scooter = scooter[scooter.Date != '2019-10-01']
scooter = scooter[scooter.Date != '2019-10-13']
scooter = scooter[scooter.Date != '2019-10-15']
scooter = scooter[scooter.Date != '2019-10-16']
# scooter

In [15]:
# Convert and save dataframe as json file
scooter.to_json(r'data/scooter.json',orient='records')

# Total Rides Per Day

In [15]:
# Caluclate total rides per date
daily_rides= scooter.groupby(['Date'])['Trip_Count'].sum().reset_index()
daily_rides

# # Count # of Weekday/end
# daily_rides = daily_rides.sort_values('Day_End')
# pd.set_option('display.max_rows', None)
# print(daily_rides)

           Date  Trip_Count
0    2019-06-15        6233
1    2019-06-16        7509
2    2019-06-17        6868
3    2019-06-18        8078
4    2019-06-19        7068
..          ...         ...
103  2019-09-26        4754
104  2019-09-27        2532
105  2019-09-28        4062
106  2019-09-29        2951
107  2019-09-30        4451

[108 rows x 2 columns]

In [16]:
# Caluclate total rides per date
comm_daily_rides= scooter.groupby(['Date','Start_Community_Area_Name'])['Trip_Count'].sum().reset_index()
total_rides= comm_daily_rides.merge(daily_rides, on= ['Date'],how= 'left')
total_rides

            Date Start_Community_Area_Name  Trip_Count_x  Trip_Count_y
0     2019-06-15                    AUSTIN            56          6233
1     2019-06-15                  AVONDALE            92          6233
2     2019-06-15            BELMONT CRAGIN            44          6233
3     2019-06-15                BRIDGEPORT             1          6233
4     2019-06-15                   DUNNING            19          6233
...          ...                       ...           ...           ...
2014  2019-09-30            NORTH LAWNDALE            55          4451
2015  2019-09-30              PORTAGE PARK            50          4451
2016  2019-09-30            SOUTH LAWNDALE            41          4451
2017  2019-09-30        WEST GARFIELD PARK            28          4451
2018  2019-09-30                 WEST TOWN          1015          4451

[2019 rows x 4 columns]

In [17]:
# Convert and save Trip Count by Date as json file
total_rides.to_json(r'data/ride_count.json',orient='records')

In [18]:
# # Convert and save Trip Count by Date as json file
# comm_daily_rides.to_json(r'data/comm_trip_count.json',orient='records')

In [19]:
# # Convert and save Trip Count by Date as json file
# daily_rides.to_json(r'data/trip_count.json',orient='records')

# Average Weekday/Weekend Rides

In [20]:
# Calculate Average Trips per Hour For weekdays and weekends

hour_rides = scooter.groupby(['Day_End','Time'])['Trip_Count'].sum().reset_index()
hour_rides

# # Add data for 4am
new_row = {'Time': '04:00 AM', 'Day_End':'Weekday', 'Trip_Count': 0}
hour_rides = hour_rides.append(new_row, ignore_index=True)

# hour_rides.dtypes

# Sort Times
hour_rides = hour_rides.iloc[pd.to_datetime(hour_rides.Time).values.argsort()]
hour_rides

# # Add data for 3am
# new_row = {'Time': '03:00:00 AM', 'Day_End':'Weekday', 'Trip_Count': 0}
# hour_rides = hour_rides.append(new_row, ignore_index=True)
# new_row= {'Time': '03:00:00 AM', 'Day_End':'Weekend', 'Trip_Count': 0}
# hour_rides = hour_rides.append(new_row, ignore_index=True)


# new_row= {'Time': '04:00:00 AM', 'Day_End':'Weekend', 'Trip_Count': 0}
# hour_rides = hour_rides.append(new_row, ignore_index=True)

    Day_End      Time  Trip_Count
45  Weekend  12:00 AM        1365
21  Weekday  12:00 AM        2779
0   Weekday  01:00 AM        1861
23  Weekend  01:00 AM         869
25  Weekend  02:00 AM         279
2   Weekday  02:00 AM         659
27  Weekend  03:00 AM           1
4   Weekday  03:00 AM           5
47  Weekday  04:00 AM           0
29  Weekend  04:00 AM           2
7   Weekday  05:00 AM         393
31  Weekend  05:00 AM         170
9   Weekday  06:00 AM        2343
33  Weekend  06:00 AM         442
11  Weekday  07:00 AM        7603
35  Weekend  07:00 AM         985
37  Weekend  08:00 AM        2063
13  Weekday  08:00 AM       15373
15  Weekday  09:00 AM       16781
39  Weekend  09:00 AM        3992
41  Weekend  10:00 AM        7438
17  Weekday  10:00 AM       13262
19  Weekday  11:00 AM       16029
43  Weekend  11:00 AM       10825
46  Weekend  12:00 PM       13976
22  Weekday  12:00 PM       24224
24  Weekend  01:00 PM       15956
1   Weekday  01:00 PM       27890
3   Weekday  02:00 PM       28679
26  Weekend  02:00 PM       17783
5   Weekday  03:00 PM       31408
28  Weekend  03:00 PM       18117
30  Weekend  04:00 PM       18371
6   Weekday  04:00 PM       37443
8   Weekday  05:00 PM       48984
32  Weekend  05:00 PM       18383
10  Weekday  06:00 PM       51688
34  Weekend  06:00 PM       18208
36  Weekend  07:00 PM       17180
12  Weekday  07:00 PM       44034
38  Weekend  08:00 PM       15219
14  Weekday  08:00 PM       36134
40  Weekend  09:00 PM       11217
16  Weekday  09:00 PM       27520
18  Weekday  10:00 PM       13065
42  Weekend  10:00 PM        5134
20  Weekday  11:00 PM        4275
44  Weekend  11:00 PM        1735

In [21]:
# Add column with Weekday and weekend count
hour_rides['Day_Count'] = [76 if ele == 'Weekday' else 32 for ele in hour_rides['Day_End']]

# Calculate average rides per hour on Weekdays and Weekend
hour_rides['Avg_Per_Hour'] = (hour_rides['Trip_Count']/hour_rides['Day_Count']).round()
hour_rides


hour_rides
# hour_rides.dtypes

    Day_End      Time  Trip_Count  Day_Count  Avg_Per_Hour
45  Weekend  12:00 AM        1365         32          43.0
21  Weekday  12:00 AM        2779         76          37.0
0   Weekday  01:00 AM        1861         76          24.0
23  Weekend  01:00 AM         869         32          27.0
25  Weekend  02:00 AM         279         32           9.0
2   Weekday  02:00 AM         659         76           9.0
27  Weekend  03:00 AM           1         32           0.0
4   Weekday  03:00 AM           5         76           0.0
47  Weekday  04:00 AM           0         76           0.0
29  Weekend  04:00 AM           2         32           0.0
7   Weekday  05:00 AM         393         76           5.0
31  Weekend  05:00 AM         170         32           5.0
9   Weekday  06:00 AM        2343         76          31.0
33  Weekend  06:00 AM         442         32          14.0
11  Weekday  07:00 AM        7603         76         100.0
35  Weekend  07:00 AM         985         32          31.0
37  Weekend  08:00 AM        2063         32          64.0
13  Weekday  08:00 AM       15373         76         202.0
15  Weekday  09:00 AM       16781         76         221.0
39  Weekend  09:00 AM        3992         32         125.0
41  Weekend  10:00 AM        7438         32         232.0
17  Weekday  10:00 AM       13262         76         174.0
19  Weekday  11:00 AM       16029         76         211.0
43  Weekend  11:00 AM       10825         32         338.0
46  Weekend  12:00 PM       13976         32         437.0
22  Weekday  12:00 PM       24224         76         319.0
24  Weekend  01:00 PM       15956         32         499.0
1   Weekday  01:00 PM       27890         76         367.0
3   Weekday  02:00 PM       28679         76         377.0
26  Weekend  02:00 PM       17783         32         556.0
5   Weekday  03:00 PM       31408         76         413.0
28  Weekend  03:00 PM       18117         32         566.0
30  Weekend  04:00 PM       18371         32         574.0
6   Weekday  04:00 PM       37443         76         493.0
8   Weekday  05:00 PM       48984         76         645.0
32  Weekend  05:00 PM       18383         32         574.0
10  Weekday  06:00 PM       51688         76         680.0
34  Weekend  06:00 PM       18208         32         569.0
36  Weekend  07:00 PM       17180         32         537.0
12  Weekday  07:00 PM       44034         76         579.0
38  Weekend  08:00 PM       15219         32         476.0
14  Weekday  08:00 PM       36134         76         475.0
40  Weekend  09:00 PM       11217         32         351.0
16  Weekday  09:00 PM       27520         76         362.0
18  Weekday  10:00 PM       13065         76         172.0
42  Weekend  10:00 PM        5134         32         160.0
20  Weekday  11:00 PM        4275         76          56.0
44  Weekend  11:00 PM        1735         32          54.0

In [22]:
# Convert and save Trip Count by Date as json file
hour_rides.to_json(r'data/avg_hr_rides.json',orient='records')

# Trip Distance

In [23]:
# Trip Count per Community
comm_trips = scooter.groupby(['Start_Community_Area_Name'])['Trip_Count'].sum().reset_index()
# comm_trips

# comm_trips = scooter.groupby(['Trip_Count'])['Trip_Count'].sum().reset_index()

# Sort Trip Count in Descending order
comm_trips =comm_trips.sort_values(by='Trip_Count', ascending=False)
comm_trips

   Start_Community_Area_Name  Trip_Count
19            NEAR WEST SIDE      186867
27                 WEST TOWN      179349
13              LOGAN SQUARE       87764
3             BELMONT CRAGIN       19599
1                     AUSTIN       18477
2                   AVONDALE       16977
10             HUMBOLDT PARK       11420
15           LOWER WEST SIDE       11249
9                    HERMOSA       11065
22            NORTH LAWNDALE        9217
11               IRVING PARK        7729
24            SOUTH LAWNDALE        7168
7         EAST GARFIELD PARK        7139
23              PORTAGE PARK        6852
26        WEST GARFIELD PARK        4855
16                 MONTCLARE        2014
6                    DUNNING        1708
17           NEAR NORTH SIDE         137
12              LINCOLN PARK         114
4                 BRIDGEPORT          38
21              NORTH CENTER          28
14                      LOOP           4
28                  WOODLAWN           4
20                  NEW CITY           3
18           NEAR SOUTH SIDE           1
25                    UPTOWN           1
8                  GAGE PARK           1
5              BRIGHTON PARK           1
0              ARMOUR SQUARE           1

In [24]:
# Bottom Community list
bottom= ['BELMONT CRAGIN','AUSTIN', 'AVONDALE', 'HUMBOLDT PARK','LOWER WEST SIDE', 'HERMOSA','NORTH LAWNDALE','IRVING PARK', 'SOUTH LAWNDALE','EAST GARFIELD PARK','PORTAGE PARK', 'WEST GARFIELD PARK', 'MONTCLARE','DUNNING', 'NEAR NORTH SIDE', 'LINCOLN PARK','BRIDGEPORT','NORTH CENTER', 'LOOP', 'WOODLAWN', 'NEW CITY', 'NEAR SOUTH SIDE', 'UPTOWN', 'GAGE PARK', 'BRIGHTON PARK', 'ARMOUR SQUARE']
# mid= comm_trips[comm_trips['Trip_Count'].between(4000, 20000)]

In [25]:
# Restructure scooter dataframe
comm_trips = scooter.filter(items=['Start_Community_Area_Name','Distance','Trip_Count'])
comm_trips = comm_trips.dropna()
comm_trips

       Start_Community_Area_Name  Distance  Trip_Count
517154                  AVONDALE     29.91           1
104600            BELMONT CRAGIN     29.88           1
304714                    AUSTIN     29.70           1
528919                    AUSTIN     29.68           1
521416              LOGAN SQUARE     29.60           1
...                          ...       ...         ...
303336                 MONTCLARE      0.01           1
693481                 WEST TOWN      0.01           1
119321                  AVONDALE      0.01           1
647216                 WEST TOWN      0.01           1
460383            NEAR WEST SIDE      0.01           1

[589782 rows x 3 columns]

In [26]:
def f(row):

    if row['Distance'] >5:
        val = ">5 miles"
    elif row['Distance'] >= 4:
        val = "4-5 miles"
    elif row['Distance'] >= 3:
        val = "3-4 miles"
    elif row['Distance'] >= 2:
        val = "2-3 miles"
    elif row['Distance'] >= 1:
        val = "1-2 miles"
    else:
        val =  "<1 mile"

    return val



# def f(row):

#     if row['Distance'] >20:
#         val = ">20 miles"
#     elif row['Distance'] >= 15:
#         val = "20-15 miles"
#     elif row['Distance'] >= 10:
#         val = "10-15 miles"
#     elif row['Distance'] >=5:
#         val = "5-10 miles"
#     else:
#         val =  "<5 miles"

In [27]:
comm_trips["Distance_Range"] = comm_trips.apply(f,axis=1)
comm_trips

       Start_Community_Area_Name  Distance  Trip_Count Distance_Range
517154                  AVONDALE     29.91           1       >5 miles
104600            BELMONT CRAGIN     29.88           1       >5 miles
304714                    AUSTIN     29.70           1       >5 miles
528919                    AUSTIN     29.68           1       >5 miles
521416              LOGAN SQUARE     29.60           1       >5 miles
...                          ...       ...         ...            ...
303336                 MONTCLARE      0.01           1        <1 mile
693481                 WEST TOWN      0.01           1        <1 mile
119321                  AVONDALE      0.01           1        <1 mile
647216                 WEST TOWN      0.01           1        <1 mile
460383            NEAR WEST SIDE      0.01           1        <1 mile

[589782 rows x 4 columns]

# Top Community Trip Distances

In [28]:
# Drop Bottom Ride Communities 
# top_comm= comm_trips[comm_trips['Trip_Count']>87000]
top_comm = comm_trips[~scooter['Start_Community_Area_Name'].isin(bottom)]
top_comm

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

       Start_Community_Area_Name  Distance  Trip_Count Distance_Range
521416              LOGAN SQUARE     29.60           1       >5 miles
190248              LOGAN SQUARE     29.12           1       >5 miles
491816                 WEST TOWN     29.03           1       >5 miles
224865              LOGAN SQUARE     28.75           1       >5 miles
199447              LOGAN SQUARE     28.53           1       >5 miles
...                          ...       ...         ...            ...
268503              LOGAN SQUARE      0.01           1        <1 mile
466251            NEAR WEST SIDE      0.01           1        <1 mile
693481                 WEST TOWN      0.01           1        <1 mile
647216                 WEST TOWN      0.01           1        <1 mile
460383            NEAR WEST SIDE      0.01           1        <1 mile

[453980 rows x 4 columns]

In [29]:
# Groupby top Community and Distance range with trip count per range

comm_dist = top_comm.groupby(['Start_Community_Area_Name','Distance_Range'])['Trip_Count'].sum().reset_index()
comm_dist

   Start_Community_Area_Name Distance_Range  Trip_Count
0               LOGAN SQUARE      1-2 miles       25857
1               LOGAN SQUARE      2-3 miles       10130
2               LOGAN SQUARE      3-4 miles        4292
3               LOGAN SQUARE      4-5 miles        2191
4               LOGAN SQUARE        <1 mile       43060
5               LOGAN SQUARE       >5 miles        2234
6             NEAR WEST SIDE      1-2 miles       40901
7             NEAR WEST SIDE      2-3 miles       14671
8             NEAR WEST SIDE      3-4 miles        6192
9             NEAR WEST SIDE      4-5 miles        2860
10            NEAR WEST SIDE        <1 mile      119127
11            NEAR WEST SIDE       >5 miles        3116
12                 WEST TOWN      1-2 miles       51703
13                 WEST TOWN      2-3 miles       19699
14                 WEST TOWN      3-4 miles        7885
15                 WEST TOWN      4-5 miles        3495
16                 WEST TOWN        <1 mile       93077
17                 WEST TOWN       >5 miles        3490

In [30]:
dist = comm_dist.groupby(['Distance_Range'])['Trip_Count'].sum().reset_index()
dist

total_rides = 453980

dist['Percentage'] = ((dist['Trip_Count']/total_rides)*100).round()
dist

dist = dist.sort_values(by='Trip_Count', ascending=False)
# dist

dist['Percentage'] = dist['Percentage'].astype(str) + '%'
dist

  Distance_Range  Trip_Count Percentage
4        <1 mile      255264      56.0%
0      1-2 miles      118461      26.0%
1      2-3 miles       44500      10.0%
2      3-4 miles       18369       4.0%
5       >5 miles        8840       2.0%
3      4-5 miles        8546       2.0%

In [36]:
# Create html code
table = dist.to_html()
table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Distance_Range</th>\n      <th>Trip_Count</th>\n      <th>Percentage</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>4</th>\n      <td>&lt;1 mile</td>\n      <td>255264</td>\n      <td>56.0%</td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>1-2 miles</td>\n      <td>118461</td>\n      <td>26.0%</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2-3 miles</td>\n      <td>44500</td>\n      <td>10.0%</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3-4 miles</td>\n      <td>18369</td>\n      <td>4.0%</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>&gt;5 miles</td>\n      <td>8840</td>\n      <td>2.0%</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4-5 miles</td>\n      <td>8546</td>\n      <td>2.0%</td>\n    </tr>\n  </tbody>\n</table>'

In [33]:
# Define a function to map the grand total trip values for top 3 communities 
def set_value(row_number, assigned_value): 
    return assigned_value[row_number] 
  
# Create the dictionary 
event_dictionary ={'LOGAN SQUARE' : 87764, 'WEST TOWN' : 179349, 'NEAR WEST SIDE' : 186867} 
  
# Add a new column named 'Total Rides' 
comm_dist['Total_Rides'] = comm_dist['Start_Community_Area_Name'].apply(set_value, args =(event_dictionary, )) 
  
# Print the DataFrame 
comm_dist

   Start_Community_Area_Name Distance_Range  Trip_Count  Total_Rides
0               LOGAN SQUARE      1-2 miles       25857        87764
1               LOGAN SQUARE      2-3 miles       10130        87764
2               LOGAN SQUARE      3-4 miles        4292        87764
3               LOGAN SQUARE      4-5 miles        2191        87764
4               LOGAN SQUARE        <1 mile       43060        87764
5               LOGAN SQUARE       >5 miles        2234        87764
6             NEAR WEST SIDE      1-2 miles       40901       186867
7             NEAR WEST SIDE      2-3 miles       14671       186867
8             NEAR WEST SIDE      3-4 miles        6192       186867
9             NEAR WEST SIDE      4-5 miles        2860       186867
10            NEAR WEST SIDE        <1 mile      119127       186867
11            NEAR WEST SIDE       >5 miles        3116       186867
12                 WEST TOWN      1-2 miles       51703       179349
13                 WEST TOWN      2-3 miles       19699       179349
14                 WEST TOWN      3-4 miles        7885       179349
15                 WEST TOWN      4-5 miles        3495       179349
16                 WEST TOWN        <1 mile       93077       179349
17                 WEST TOWN       >5 miles        3490       179349

In [34]:
# Divide Distange Range-Trip Count by Total Rides & add "Trip_Pct" column

comm_dist['Trip_Pct'] = ((comm_dist['Trip_Count']/comm_dist['Total_Rides'])*100).round()
comm_dist

   Start_Community_Area_Name Distance_Range  Trip_Count  Total_Rides  Trip_Pct
0               LOGAN SQUARE      1-2 miles       25857        87764      29.0
1               LOGAN SQUARE      2-3 miles       10130        87764      12.0
2               LOGAN SQUARE      3-4 miles        4292        87764       5.0
3               LOGAN SQUARE      4-5 miles        2191        87764       2.0
4               LOGAN SQUARE        <1 mile       43060        87764      49.0
5               LOGAN SQUARE       >5 miles        2234        87764       3.0
6             NEAR WEST SIDE      1-2 miles       40901       186867      22.0
7             NEAR WEST SIDE      2-3 miles       14671       186867       8.0
8             NEAR WEST SIDE      3-4 miles        6192       186867       3.0
9             NEAR WEST SIDE      4-5 miles        2860       186867       2.0
10            NEAR WEST SIDE        <1 mile      119127       186867      64.0
11            NEAR WEST SIDE       >5 miles        3116       186867       2.0
12                 WEST TOWN      1-2 miles       51703       179349      29.0
13                 WEST TOWN      2-3 miles       19699       179349      11.0
14                 WEST TOWN      3-4 miles        7885       179349       4.0
15                 WEST TOWN      4-5 miles        3495       179349       2.0
16                 WEST TOWN        <1 mile       93077       179349      52.0
17                 WEST TOWN       >5 miles        3490       179349       2.0

In [35]:
# Convert and save dataframe as json file
comm_dist.to_json(r'data/comm_dist.json',orient='records')